<!DOCTYPE html>
<html lang="en">

<head>
    <title>Computer Science Blogs</title>
    <meta content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/betterui.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500;900&display=swap" rel="stylesheet">
</head>

<body>



    <div id="nav" class="">
        <ul>
            <li id="fon" class="nav-item active"><a href="/">Web Development</a></li>
            <li id="fon" class="nav-item active"><a href="/">Home</a></li>
            <li id="fon" class="nav-item active"><a href="/csblogs">Blogs</a></li>
            <li id="fon" class="nav-item active"><a href="/csblogs/new">Add a Blog</a></li>
        </ul>
    </div>