<%- include ("partials/header"); -%>


<div class="container pt-5 ml-5">
        <div class="jumbotron" id="lan">
                <h1 class="display-4 fon">Introduction</h1>
                <p class="fon">This is a place where you can post stuff about computer science</p>
                <hr class="my-4">
                <p class="fon">There is a famous saying by Marissa Mayer. “Geeks are people who love something so much that all the
                        details
                        matter”. Many have tried to define who these geeks are, but this one is right on spot! For a
                        geek, all
                        that is required to keep him busy and happy, is a group of other geeks working on the same
                        problem
                        trying to figure out some answer. How many times were you frustrated while looking out for a
                        good
                        collection of programming/algorithm/interview questions? What did you expect and what did you
                        get? This
                        is where CSBlog site comes into picture - A computer science portal for geeks, by geeks.


                </p>
                <p class="lead">
                        <a class="btn btn-light btn-lg" href="csblogs/new" role="button">Contribute post</a>
                </p>
        </div>
</div>


<%- include ("partials/footer"); -%>